<ion-view title="Ebola Guidelines" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="help">
    <h4> Ebola </h4>
    <p>Ebola virus disease (EVD), also known as Ebola hemorrhagic fever (EHF) or simply Ebola, is a viral hemorrhagic fever of humans and other primates caused by ebolaviruses.</p>
    <h4> Identify</h4>
    <p>Signs and symptoms typically start between two days and three weeks after contracting the virus with:
     <ul>
       <li>A fever with temperature above 38 degree Celsius</li>
       <li>Sore throat</li>
       <li>Muscular pain</li>
       <li>Severe headaches</li>
     </ul>
      <b>Which escalates to:</b>
    </br>
      <ul>
        <li>Vomiting</li>
        <li>Diarrhea</li>
        <li>Rash</li>
        <li>Decreased function of the liver and kidneys</li>
        <li>Internal and external bleeding</li>
      </ul>
    </br>
    <img ng-src="img/Ebola Symptom Chart.png">
    </br>
      If the patient has both exposure and symptoms, immediately separate the patient and inform others.</p>
    <h4>Prevention</h4>
    <p>There is no FDA-approved vaccine available for Ebola.</br>If you travel to or are in an area affected by an Ebola outbreak, make sure to do the following:
      <ul>
        <li>Practice careful hygiene. For example, wash your hands with soap and water or an alcohol-based hand sanitizer and avoid contact with blood and body fluids (such as urine, feces, saliva, sweat, urine, vomit, breast milk, semen, and vaginal fluids).Pract</li>
        <li>Do not handle items that may have come in contact with an infected person’s blood or body fluids (such as clothes, bedding, needles, and medical equipment).</li>
        <li>Avoid funeral or burial rituals that require handling the body of someone who has died from Ebola.
        </li>
        <li>Avoid contact with bats and nonhuman primates or blood, fluids, and raw meat prepared from these animals.</li>
        <li>Avoid facilities in West Africa where Ebola patients are being treated. The U.S. embassy or consulate is often able to provide advice on facilities.</li>
        <li>Avoid contact with semen from a man who has had Ebola until you know Ebola is gone from his semen.</li>
        <li>After you return, monitor your health for 21 days and seek medical care immediately if you develop symptoms of Ebola.</li>
        <li>Wear adequate protective equipments and avoid contact with body fluid when contact with the patient</li>
        <li>If you haven't been in close contact with the patient, avoid the area at all cost and quickly go to the nearest healthcare centre to get checked.</li>
      </ul></p>
    <h4> Inform</h4>
  	<p>Mark the infected area in red by pressing alert button or if the area is safe, mark it as safe.</br>
      If you are near a healthcare centre, notify the staff immediately as there is a verification process to be done before personnels are sent to a marked area on the app.</p>
  </ion-content>
</ion-view>