<ion-view title="About" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="help">
    <h3> What is Ebolapp </h3>
    <p>Ebolapp is an application created by WHO team to help healthcare worker quickly notice and quarantine an ebola outbreak using the data provided by civillians of an infected area.</p> </br>
    <h4> The Idea </h4>
		<ul>
		<li>The app will display the location of the user Google Map style so you can see the area around your location as well</li>
		<li>The user can tap on alert button which will mark a red dot on the map at their location and other users can also see it</li>
		<li>The healthcare worker using their version of the app can see which area is very red and come investigate</li>
		<li>The app also provide advice about avoiding the area and guidelines about ebola prevention</li>
	</ul>
</br>
    <b><p>This app is created to serve as a visual demonstration of the app idea for UCL Global Citizenship Program. </br> This is by no mean the final look and feel of the app, many features are not included in this version.</p></b>
  </ion-content>
</ion-view>