<ion-view title="Outbreak Situation" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="help">
    <b><h3>Local Area</h3></b>
      <p align = "center"><b>Alert: </b> We are currently examining the situation</p>
    <img class = "center" src="img/Alert.png" width = "200" height = "20">

    <p align = "center">Please proceed with caution!!!</p>
    </div></br>
      <b><h3>Global</h3></b>
      <p align = "center">Liberia, last update 02/06/2016</p>
      <p align = "center"><b>Safe</b><img class = "center" src="img/Safe.png" width = "200" height = "20"></p></br>
      <p>A total of <b>28,616</b> Ebola cases have been reported in Guinea, Liberia and Sierra Leone, with 11,310 deaths.</p>
      <p>Today, there are over <b>10,000</b> survivors of Ebola virus disease.</p>
      <p>Today WHO declares the end of Ebola virus transmission in the Republic of Guinea. Forty-two days have passed since the last person confirmed to have Ebola virus disease tested negative for the second time. Guinea now enters a 90-day period of heightened surveillance to ensure that any new cases are identified quickly before they can spread to other people.</p></br>
  </ion-content>
</ion-view>